.navbar.navbar-fixed-top.navbar-inverse
 .container
  %h1 Travel Uber
  %nav
   %ul{:class=>"nav navbar-nav navbar-right"} 
    %li
     =link_to "Home", "#show"
    %li
     =link_to "Trip goods","#"
    %li
     =link_to "Profile", "#"
    %li
     =link_to "Logout", "/guiders_logout",:method=>'post'
