%fieldset
 %h3 My qualification
 =form_for @guider do |f|
  =f.text_field :driver_license, {:placeholder => 'driver_license'}
  =f.text_field :passport_number, {:placeholder => 'passport_number'}
  =f.text_field :SSN, {:placeholder => 'SSN '}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :introduction, {:placeholder => 'introduction'}
  =f.text_field :rating, {:placeholder => 'rating'}
  =f.text_field :comment, {:placeholder => 'comment'}
  %p
  =f.submit 'Submit my qualification form'