%h1 Search for an amazing trip

%nav.navbar.navbar-default
  #nav.container-fluid
    %ul#nav1.nav.navbar-nav
      %li
        %a{:title=> home-btn :href=>'#'}Home
      %li 
        %a{:title=> home-btn :href=>'#'}My Orders
      %li 
        %a{:title=> home-btn :href=>'#'}Home
      %li
        %a{:title=> home-btn :href=>'#'}Home

#search-result.row
  - @goods.each do |good|
   .row
     .col-sm-6.col-md-4 
       .thumbnail
         %img {:src=>"..."}
         %h3 = good.title
         %span = good.price
         %p = good.introduction
