=render 'navigation_bar'
.container1.container
%br
%br
%flash
 =flash[:notice]
 =flash[:danger]
 =render 'basic_info'
 =render 'update_profile'
 %div{:id=>'search',:class=>'button'}
  =button_to 'Find my dream trips!', search_goods_path 

