=render 'travelers/navigation_bar'
.container1.container
  - if @orders== nil || @orders.size == 0
    %h2 No result
  - else
    .container
      .row
        - @orders.each do |e|
          .col-sm-6.col-md-4
            .thumbnail
              = link_to "111", trip_good_path(:id=>e.trip_good_id)
              %span #{e.price}
              %p #{e.introduction}